# bootstrap with direnv
export PATH=$(git rev-parse --show-toplevel)/bin:$PATH

# https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md
export TERRAFORM_VERSION="latest"

#export TF_LOG=TRACE
