# bootstrap with direnv
export PATH=$(git rev-parse --show-toplevel)/bin:$PATH

# `aws configure --profile dev`
export AWS_DEFAULT_PROFILE=dev
export AWS_DEFAULT_REGION="$(aws configure get ${AWS_DEFAULT_PROFILE}.region)"
export AWS_ACCESS_KEY_ID="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_access_key_id)"
export AWS_SECRET_ACCESS_KEY="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_secret_access_key)"

# https://www.terraform.io/docs/backends/types/s3.html
export REMOTE_STATE_BACKEND="$REMOTE_STATE_BACKEND" ## If empty, build artifact would not be stashed 

# https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md
export TERRAFORM_VERSION="0.14.0"
export WHOAMI="$(whoami)"

# https://www.terraform.io/docs/configuration/variables.html#variable-definition-precedence
#export TF_VAR_environment="$(tf-workspace)"
#export TF_LOG=TRACE
